.git
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
.phpunit.result.cache
.php_cs.cache
coverage
.idea
.vscode
*.md
docker
Dockerfile
.dockerignore

