{{- if .Values.laravel.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "app038.serviceAccountName" . }}
  labels:
    {{- include "app038.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.laravel.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if .Values.vault.enabled }}
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: {{ .Values.vault.role | quote }}
    vault.hashicorp.com/agent-inject-secret-database: "database/creds/app038-readwrite"
    vault.hashicorp.com/agent-inject-template-database: |
      {{- `{{- with secret "database/creds/app038-readwrite" -}}
      export DB_USERNAME="{{ .Data.username }}"
      export DB_PASSWORD="{{ .Data.password }}"
      {{- end }}` | nindent 6 }}
    vault.hashicorp.com/agent-inject-secret-app-secrets: {{ .Values.vault.secretsPath | quote }}
    vault.hashicorp.com/agent-inject-template-app-secrets: |
      {{- `{{- range $key, $value := .Data.data }}
      export {{ $key | upper }}="{{ $value }}"
      {{- end }}` | nindent 6 }}
    {{- end }}
{{- end }}

